.metadata/
siw-jpa-es1/bin/
siw-jpa-es1/src/META-INF/persistence.xml
siw-jpa-es2/src/META-INF/persistence.xml
siw-jpa-es3/src/META-INF/persistence.xml
siw-orm-es1/src/META-INF/persistence.xml
siw-orm-es2/src/META-INF/persistence.xml
siw-orm-es3/src/META-INF/persistence.xml
siw-jpa-es7/src/META-INF/persistence.xml
siw-jpa-es8/src/META-INF/persistence.xml
siw-jpa-es9/src/META-INF/persistence.xml
siw-repository-es1/src/META-INF/persistence.xml
siw-repository-es3/src/META-INF/persistence.xml
siw-hw1/src/META-INF/persistence.xml
